asgiref               
asttokens              
attrs                  
autopep8              
backcall              
beautifulsoup4        
bleach                
cachetools            
cffi                    
click                   
cycler                  
debugpy                 
decorator               
defusedxml              
django-pandas           
entrypoints
executing               
fastjsonschema          
fonttools               
gitdb                   
GitPython               
imutils                 
ipykernel               
ipython                 
ipython-genutils        
ipywidgets              
jedi                    
Jinja2                  
joblib                  
jsonschema              
jupyter-client          
jupyter-core            
jupyterlab-pygments     
jupyterlab-widgets      
kiwisolver              
matplotlib              
matplotlib-inline       
mistune                 
nbclient                
nbconvert               
nbformat                
nest-asyncio            
notebook                
numpy4
packaging
pandas                 
pandocfilters          
parso                  
pickleshare            
Pillow                 
pip1
prometheus-client1
prompt-toolkit          
psutil                  
pure-eval               
pyarrow                 
pycodestyle             
pycparser
pydeck                  
Pygments                
Pympler                 
pyparsing               
pyrsistent              
python-dateutil         
pytz
pytz-deprecation-shim   
pyzmq                   
scikit-learn            
scipy                   
seaborn                 
semver                  
Send2Trash              
setuptools              
six                     
sklearn                 
smmap                   
soupsieve               
sqlparse                
stack-data              
streamlit               
terminado               
threadpoolctl           
tinycss2                
toml                    
toolz                   
tornado                 
traitlets               
typing_extensions       
tzdata                  
tzlocal                 
validators              
watchdog                
wcwidth                 
webencodings            
wheel                   
widgetsnbextension      
wordcloud              